@using MudBlazor

<MudDialog FullScreen="true" MaxWidth="MaxWidth.False">
    <MudDialogTitle>@Title</MudDialogTitle>

    <MudDialogContent>
        <div style="width:100%; height:80vh;">
            @Content
        </div>
    </MudDialogContent>

    <MudDialogActions>
        <MudButton Variant="Variant.Text" OnClick="Close">Fechar</MudButton>
    </MudDialogActions>
</MudDialog>

@code {
    [CascadingParameter] public IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment Content { get; set; } = default!;
    void Close() => MudDialog.Close();
}
